.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-9qefL6kxx-5j);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-3-PI7X50vdHQ);
  font-family: var(--token-IFGpNnh0rMpA);
  font-size: var(--token---p9wNK5vVtT);
  line-height: var(--token-TR6_pCCRuzcA);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-ca_rk1o0ZfDD);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-BN2o1QnENtVU);
  outline-offset: 1px;
  outline-color: var(--token-9qefL6kxx-5j);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-Dm_p5BBB8tOR);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-TgsukHQYWlph);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-PVMttV_1PlMj);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-soSxn9HVrxMN);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-0Uc7KejFd-d-);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-hxpFFV01TllN);
  font-size: var(--token-2w5qqL6GVzBq);
  column-gap: var(--token-BN2o1QnENtVU);
  row-gap: 0px;
  border-radius: var(--token-48NtlEt4wGqi);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-2w5qqL6GVzBq);
  line-height: var(--token-hxpFFV01TllN);
  column-gap: var(--token-48NtlEt4wGqi);
  row-gap: 0px;
  border-radius: var(--token-48NtlEt4wGqi);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-i4BkzU6dXmrw);
  line-height: var(--token-OcsvWaMgsMxa);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-i4BkzU6dXmrw);
  line-height: var(--token-OcsvWaMgsMxa);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-DFJfzAK5RzDY);
  border-radius: var(--token-ca_rk1o0ZfDD);
}
.softBackgroundcolor_neutral {
  background: var(--token-b1sjX5AeCnuw);
}
.softBackgroundcolor_muted {
  background: var(--token-44yR4kz_1tdD);
}
.softBackgroundcolor_success {
  background: var(--token-zk5Zj2FBUynE);
}
.softBackgroundcolor_warning {
  background: var(--token-Xiad-ywLOAqL);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-JeX7cI_zn9fc);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-ca_rk1o0ZfDD);
  border: 0px solid var(--token-L4IFmsbDgkmb);
}
.bordercolor_neutral {
  border-color: var(--token-q0vN8Vfpe2zn);
}
.bordercolor_muted {
  border-color: var(--token-fusl9auFDAz2);
}
.bordercolor_success {
  border-color: var(--token-34K4gdliNipK);
}
.bordercolor_warning {
  border-color: var(--token-ocC8vJ11YQU1);
}
.bordercolor_errorDestructive {
  border-color: var(--token-KWAMHadIG4Bp);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-ca_rk1o0ZfDD);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-Vg00ualI3n_q);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-t3L_dAbvOYig);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-m6ZOZVjYdjjN);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__bRlLi {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-ca_rk1o0ZfDD) var(--token-5yshMshmJsZm);
}
.freeBox__bRlLi > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-ca_rk1o0ZfDD));
  width: calc(100% + var(--token-ca_rk1o0ZfDD));
}
.freeBox__bRlLi > :global(.__wab_flex-container) > *,
.freeBox__bRlLi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bRlLi > :global(.__wab_flex-container) > picture > img,
.freeBox__bRlLi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-ca_rk1o0ZfDD);
}
.freeBoxsize_extraSmall__bRlLiy2BaY {
  padding: var(--token-48NtlEt4wGqi) var(--token-ca_rk1o0ZfDD);
}
.freeBoxsize_small__bRlLi7BgBe {
  padding: var(--token-ca_rk1o0ZfDD) var(--token-3-PI7X50vdHQ);
}
.freeBoxsize_large__bRlLieFvdQ {
  padding-top: var(--token-48NtlEt4wGqi);
  padding-bottom: var(--token-48NtlEt4wGqi);
}
.freeBoxsize_extraLarge__bRlLibt5Su {
  padding-left: var(--token-OL2rvEEyqZ8w);
  padding-right: var(--token-OL2rvEEyqZ8w);
}
.freeBoxroundedFull__bRlLi3I5Df {
  padding-right: var(--token-OL2rvEEyqZ8w);
  padding-left: var(--token-OL2rvEEyqZ8w);
}
.freeBox__rCmOd {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__rCmOdaVwSs {
  display: flex;
}
.slotTargetStart {
  color: var(--token-9E-c8F7LJjNb);
}
.slotTargetStartcolor_neutral {
  color: var(--token-0c0oRdjqkChM);
}
.slotTargetStartcolor_muted {
  color: var(--token-pS0TUrIZmwTu);
}
.slotTargetStartcolor_success {
  color: var(--token-5s6coL0TcsBr);
}
.slotTargetStartcolor_warning {
  color: var(--token-7WkKCHPCXeBc);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-kqs1UT7Wn8ux);
}
.slotTargetStarttype_soft {
  color: var(--token-IYBzn6nThx_Z);
}
.slotTargetStarttype_bordered {
  color: var(--token-IYBzn6nThx_Z);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-2w5qqL6GVzBq);
}
.slotTargetStartsize_small {
  font-size: var(--token-2w5qqL6GVzBq);
}
.slotTargetStartsize_large {
  font-size: var(--token-i4BkzU6dXmrw);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-i4BkzU6dXmrw);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-JhFwQH4ww1Qr);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-JhFwQH4ww1Qr);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-nNvoMdmAQaRf);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-nNvoMdmAQaRf);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-CSbE_Av8eKsa);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-CSbE_Av8eKsa);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-uQt4TMMBsmwk);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-uQt4TMMBsmwk);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-Etnrx2a2nUvA);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-Etnrx2a2nUvA);
}
.svg___91Wt {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-9E-c8F7LJjNb);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-0c0oRdjqkChM);
}
.slotTargetLabelcolor_muted {
  color: var(--token-pS0TUrIZmwTu);
}
.slotTargetLabelcolor_success {
  color: var(--token-5s6coL0TcsBr);
}
.slotTargetLabelcolor_warning {
  color: var(--token-7WkKCHPCXeBc);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-kqs1UT7Wn8ux);
}
.slotTargetLabeltype_soft {
  color: var(--token-IYBzn6nThx_Z);
}
.slotTargetLabeltype_bordered {
  color: var(--token-IYBzn6nThx_Z);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-JhFwQH4ww1Qr);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-nNvoMdmAQaRf);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-JhFwQH4ww1Qr);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-CSbE_Av8eKsa);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-nNvoMdmAQaRf);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-uQt4TMMBsmwk);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-CSbE_Av8eKsa);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-Etnrx2a2nUvA);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-uQt4TMMBsmwk);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-Etnrx2a2nUvA);
}
.text__pl7BU {
  white-space: pre;
}
.freeBox__l5Td5 {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__l5Td58OPwt {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-9E-c8F7LJjNb);
}
.slotTargetEndcolor_neutral {
  color: var(--token-0c0oRdjqkChM);
}
.slotTargetEndcolor_muted {
  color: var(--token-pS0TUrIZmwTu);
}
.slotTargetEndcolor_success {
  color: var(--token-5s6coL0TcsBr);
}
.slotTargetEndcolor_warning {
  color: var(--token-7WkKCHPCXeBc);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-kqs1UT7Wn8ux);
}
.slotTargetEndtype_soft {
  color: var(--token-IYBzn6nThx_Z);
}
.slotTargetEndtype_bordered {
  color: var(--token-IYBzn6nThx_Z);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-2w5qqL6GVzBq);
}
.slotTargetEndsize_small {
  font-size: var(--token-2w5qqL6GVzBq);
}
.slotTargetEndsize_large {
  font-size: var(--token-i4BkzU6dXmrw);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-i4BkzU6dXmrw);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-JhFwQH4ww1Qr);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-JhFwQH4ww1Qr);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-nNvoMdmAQaRf);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-nNvoMdmAQaRf);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-CSbE_Av8eKsa);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-CSbE_Av8eKsa);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-uQt4TMMBsmwk);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-uQt4TMMBsmwk);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-Etnrx2a2nUvA);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-Etnrx2a2nUvA);
}
.svg__iVupv {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
